name: CI
on:
  pull_request:
  push:
    branches:
      main
  workflow_call:
    inputs:
      attest-package:
        description: "Create GitHub provenance attestation for the package."
        default: "false"
        type: string
    outputs:
      artifact-name:
        description: "Name of the uploaded artifact; use for artifact retrieval."
        value: ${{ jobs.package.outputs.artifact-name }}

concurrency:
  group: ${{ github.workflow}}-${{ github.ref }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash

env:
  FORCE_COLOR: "1"

jobs:
  pre-commit:
    name: Pre-commit checks
    uses: beeware/.github/.github/workflows/pre-commit-run.yml@main
    with:
      pre-commit-source: "--group pre-commit"

  package:
    name: Build Package
    needs: [ pre-commit ]
    runs-on: "ubuntu-latest"
    permissions:
      id-token: write
      contents: read
      attestations: write

    steps:
    - name: Checkout
      uses: actions/checkout@v6.0.1
      with:
        fetch-depth: 0

    - name: Build and inspect package
      uses: hynek/build-and-inspect-python-package@v2.14.0
      with:
        attest-build-provenance-github: ${{ inputs.attest-package }}

  # test:
  #   name: Test (${{ matrix.distro }})
  #   needs: package

  #   strategy:
  #     fail-fast: false
  #     matrix:
